@media (min-width: 768px) { .container { max-width: 750px; } }

body {
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #555555;
}

.gravatar {
    height: 64px;
    width: 64px;
}

.header {
    margin-bottom: 100px;
}

.footer {
    background-color: #080F18;
    font-size: 12px;
    margin-top: 10em;
    padding-top: 2em;
    color: #B2B2B2;
}
.footer-nav {
    margin-bottom: 6em;
}
.footer-nav > li > a {
    color: #B2B2B2;

}
.footer-nav > li > a:hover {
    color: #FFFFFF;
}
.footer-cp {
    text-align: right;
    padding: 0 0 1em;
    text-transform: uppercase;
}
.footer hr {
    border-top: 1px solid #2A3D61;
}

pre {
    background-color: #f8f8f8;
}

h1 {
    /*font-family: 'Arvo', serif;*/
}

.post,
.job {
    margin-bottom: 100px;
}

.post img,
.job img {
    max-width: 720px;
}

.post .post-footer,
.job .job-footer {
    font-size: 11px;
}

.post-body,
.job-body {

}

.post h1,
.job h1 {
    margin: 1em 0;
    font-weight: bold;
 /*   margin-bottom: 1em;*/
}

.post-read,
.job-read {
    font-size: 11px;
    margin-bottom: 1em;
}